<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!--  -->
<!--  -->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>System Zarządzający Wnioskami Urlopowymi - Dział Kadr</title>
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/pl.js"></script> 
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"/>
	<link rel="stylesheet" href="/css/vacationtool.css"></link>
</head>
<!--  -->
<!--  -->
<body class="bodyColor">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-lg-2">
			<!--  Navbar -->
				<div id="navbaradmin"></div>
			<!--  Navbar -->
			</div>
			<div class="col-sm-9 col-lg-10">
			<!--  Content -->



				<div class="container">
					<h1>Szczegółowa lista dni wolnych</h1>
					<hr></hr>
					<div class="row">
						<div class="panel panel-primary filterable">
							<div style="height: 50px;padding:0" class="panel-heading">
								<br></br>
								<h2 class="panel-title"> Dni wolne</h2>
							</div>
							<table id="mytable" class="table table-striped table-hover">
								<thead>
									<tr>
										<td colspan="4">
											<div class="col-lg-12">
												<input type="search" class="form-control" id="input-search" placeholder="Szukaj dnia wolnego"></input>
											</div>
										</td>
										<td colspan="1">
											<div class="pull-right">
												<button class="open-AddFreeDaysDialog btn btn-success" data-title="Dodaj" data-toggle="modal" data-target="#add">Dodaj dzień wolny</button>
											</div>
										</td>
									</tr>
									<tr>
										<td width="50"><span>ID</span></td>
										<td width="150"><span>Dzień</span></td>
										<td width="150"><span>Miesiąc</span></td>
										<td width="150"><span>Rok</span></td>
										<td><span>Operacje</span></td>
									</tr>
								</thead>
								<tbody class="searchable-container" th:each="free_Day : ${freeDays}">
									<tr class="items clickable" data-toggle="collapse" th:attr="data-target='.' + ${free_Day.id}">
										<td th:attr="id='id' + ${free_Day.id}" width="50"><span th:text="${free_Day.id}"></span></td>
										<td th:attr="id='day' + ${free_Day.id}" width="50"><span th:text="${free_Day.freeDay}"></span></td>
										<td th:attr="id='monthName' + ${free_Day.id}"><span th:text="${freedayNames.getMonthName(free_Day.freeMonth)}"></span></td>
										<td style="display:none" th:attr="id='month' + ${free_Day.id}"><span th:text="${free_Day.freeMonth}"></span></td>
										<td th:attr="id='year' + ${free_Day.id}"><span th:text="${free_Day.freeYear}"></span></td>
										<td width="20%">
											<div class="col-md-6">
												<p data-placement="top" data-toggle="tooltip" title="Edytuj">
													<button class="open-ModifyFreeDaysDialog btn btn-primary btn-xs" data-title="Edytuj" data-toggle="modal" data-target="#edit" th:attr="data-id=${free_Day.id}">
														<span class="glyphicon glyphicon-pencil"></span>
													</button>
												</p>
											</div>
											<div class="col-md-6">
												<p data-placement="top" data-toggle="tooltip" title="Usuń">
													<button class="open-DeleteFreeDaysDialog btn btn-danger btn-xs" data-title="Usuń" data-toggle="modal" data-target="#delete" th:attr="data-id=${free_Day.id}">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</p>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>



				<!-- Modify free days modal -->
				<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
								<h4 class="modal-title custom_align" id="Heading">Edytuj Dane Dnia Wolnego</h4>
							</div>
							<div class="modal-body">
								<form action="#" th:action="@{/modifyfreedays}" method="post">
									<div class="row">
										<div class="form-group col-xs-6">
											<input style="display:none" id="freeDayId" class="form-control" type="text" maxlength="75" th:value="${freeDaysform.id}" th:field="${freeDaysform.id}"></input>
											<label style="width:50%">Dzień: </label>
											<input id="daymod" name="day" class="form-control" type="number" maxlength="75" th:value="${freeDaysform.freeDay}" th:field="${freeDaysform.freeDay}"></input>
											<label style="width:50%">Miesiąc: </label>
											<input id="monthmod" name="month" class="form-control" type="number" maxlength="75" th:value="${freeDaysform.freeMonth}" th:field="${freeDaysform.freeMonth}"></input>
											<label style="width:50%">Rok: </label>
											<input id="yearmod" name="year" class="form-control" type="number" maxlength="75" th:value="${freeDaysform.freeYear}" th:field="${freeDaysform.freeYear}"></input>
										</div>
									</div>
									<div class="modal-footer">
										<input type="submit" class="btn btn-warning btn-lg" value="Zapisz zmiany" />
									</div>
								</form> 
							</div>
						</div>
					</div>
				</div>
				<!-- /Modify free days modal -->
				
				
				
				
				<!-- Add free days modal -->
				<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
								<h4 class="modal-title custom_align" id="Heading">Dodaj Nowy Dzień Wolny</h4>
							</div>
							<div class="modal-body">
								<form action="#" th:action="@{/addfreedays}" method="post">
									<div class="row">
										<div class="form-group col-xs-6">
											<label style="width:50%">Dzień: </label>
											<input id="dayadd" name="dayadd" class="form-control" type="number" maxlength="75" th:value="${freeDaysform.freeDay}" th:field="${freeDaysform.freeDay}"></input>
											<label style="width:50%">Miesiąc: </label>
											<input id="monthadd" name="monthadd" class="form-control" type="number" maxlength="75" th:value="${freeDaysform.freeMonth}" th:field="${freeDaysform.freeMonth}"></input>
											<label style="width:50%">Rok: </label>
											<input id="yearadd" name="yearadd" class="form-control" type="number" maxlength="75" th:value="${freeDaysform.freeYear}" th:field="${freeDaysform.freeYear}"></input>
										</div>
									</div>
									<div class="modal-footer">
										<input type="submit" class="btn btn-warning btn-lg" value="Dodaj dzień wolny" />
									</div>
								</form> 
							</div>
						</div>
					</div>
				</div>
				<!-- /Add free days modal -->
				
				
				
				<!-- Delete free days modal -->
				<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
								<h4 class="modal-title custom_align" id="Heading">Usuń wybrany dzień wolny</h4>
							</div>
							<div class="modal-body">
								<form action="#" th:action="@{/deletefreedays}" method="post">
									<div class="alert alert-danger">
										<span class="glyphicon glyphicon-warning-sign"></span> Jesteś
										pewien, że chcesz usunąć ten dzień wolny?
									</div>
									<div class="form-group col-xs-6">
										<input style="display:none" id="freeidToDelete" class="form-control" type="text" maxlength="4" th:value="${freeDaysform.id}" th:field="${freeDaysform.id}"></input>
									</div>
									<div class="modal-footer ">
										<input type="submit" class="btn btn-success" value="Tak" />
										<button type="button" class="btn btn-default" data-dismiss="modal">
											<span class="glyphicon glyphicon-remove"></span> Nie
										</button>
									</div>
								</form> 
							</div>
						</div>
					</div>
				</div>
				<!-- Delete free days modal -->




				<!--  Content -->
				</div>
			</div>
		
	</div>

	
</body>
<!--  -->
<!--  -->
<script>
	$(function() {
		$("#navbaradmin").load("/core/admin/navbar.html");
	});
</script>
<script>
	$(function() {
		$('#profile-image1').on('click', function() {
			$('#profile-image-upload').click();
		});
	});
</script>
<script>
	$(function() {
		$('#input-search').on('keyup', function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable-container .items').hide();
			$('.searchable-container .items').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	});
</script>
<script>
	$(document).on("click", ".open-ModifyFreeDaysDialog", function(e) {
		e.preventDefault();
		var _self = $(this);

		var freeID = _self.data('id');
		$("#freeDayId").val(freeID);
		
		var freeD = $('#day' + freeID).text();
		$("#daymod").val(freeD);
		
		var freeM = $('#month' + freeID).text();
		$("#monthmod").val(freeM);
		
		var freeY = $('#year' + freeID).text();
		$("#yearmod").val(freeY);

		$(_self.attr('href')).modal('show');
	});
</script>
<script>
	$(document).on("click", ".open-AddFreeDaysDialog", function(e) {
		e.preventDefault();
		var _self = $(this);

		$(_self.attr('href')).modal('show');
	});
</script>
<script>
	$(document).on("click", ".open-DeleteFreeDaysDialog", function(e) {
		e.preventDefault();
		var _self = $(this);

		var freeID = _self.data('id');
		$("#freeidToDelete").val(freeID);
		
		$(_self.attr('href')).modal('show');
	});
</script>
<!--  -->
<!--  -->
</html>