<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!--  -->
<!--  -->
<head>
	<meta charset="utf-8" />
	<title>System Zarządzający Wnioskami Urlopowymi - Panel Logowania</title>
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/vacationtool.css"></link>
</head>
<!--  -->
<!--  -->
<body class="bodyColor">

<header>
	<!-- Navbar  -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<img src="img/base/logo.png" class="img-responsive" alt="logo"></img>
			</div> 
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="/index.html">
						<font size="4">Strona Główna</font>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /Navbar -->
</header>


<div class="container" style="margin-top:40px">
		
</div>
</body>
<!--  -->
<!--  -->
</html>