<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!--  -->
<!--  -->
<head>
	<meta charset="utf-8" />
	<title>System Zarządzający Wnioskami Urlopowymi - Błąd</title>
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/vacationtool.css"></link>
</head>
<!--  -->
<!--  -->
<body class="bodyColor">

<header>
	<!-- Navbar  -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<img src="/img/base/logo.png" class="img-responsive" alt="logo"></img>
			</div> 
		</div>
	</nav>
	<!-- /Navbar -->
</header>

	<div class="error">
		<div class="error-code m-b-10 m-t-20">
			Oops! Coś poszło nie tak... <i class="fa fa-warning"></i>
		</div>
		<h3 class="font-bold">Nie udało się przeprowadzić tej operacji...</h3>

		<div class="error-desc">
			- Być może strona, na która próbujesz się dostać nie istnieje lub nie masz do niej dostępu.
			<br /> 
			- Możliwe, że wystąpił problem z wykonywaniem Twojej operacji, przez co widzisz tą strone.
		</div>
	</div>



</body>
<!--  -->
<!--  -->
</html>