<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!--  -->
<!--  -->
<head>
	<meta charset="utf-8" />
	<title>System Zarządzający Wnioskami Urlopowymi - Panel Logowania</title>
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/vacationtool.css"></link>
</head>
<!--  -->
<!--  -->
<body class="bodyColor">

<header>
	<!-- Navbar  -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<img src="img/base/logo.png" class="img-responsive" alt="logo"></img>
			</div> 
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="/index.html">
						<font size="4">Strona Główna</font>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<!-- /Navbar -->
</header>


<div class="container" style="margin-top:40px">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Zaloguj się do systemu aby kontynuować.</strong>
					</div>
					<div class="panel-body">
						<form th:action="@{/login}" method="post">
							<fieldset>
								<div class="row">
									<div class="center-block">
										<img class="profile-img" src="img/base/avatar.png" alt="" />
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span> 
												<input id="username" name="username" class="form-control" placeholder="Login..." type="text" autofocus="autofocus"></input>
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
												<input id="password" name="password" class="form-control" placeholder="Hasło..." type="password" value=""></input>
											</div>
										</div>
										<div class="form-group">
											<input type="submit" class="btn btn-lg btn-primary btn-block" value="Zaloguj!"></input>
										</div>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="panel-footer ">
						Problem z kontem? Zgłoś to pracodawcy!
					</div>
                </div>
			</div>
		</div>


	<footer>
		<div class="row footer">
			<div class="col-md-12 mt-3 text-center">
				<p>Autor inż. Mateusz Mucha <br>© Copyright 2017-2018 Zielona Góra</br><br>Wszystkie prawa zastrzeżone.</br></p>
			</div>
		</div>
	</footer>
</div>
</body>
<!--  -->
<!--  -->
</html>