<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!--  -->
<!--  -->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>System Zarządzający Wnioskami Urlopowymi - Pracownik</title>
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/pl.js"></script> 
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"/>
	<link rel="stylesheet" href="/css/vacationtool.css"></link>
</head>
<!--  -->
<!--  -->
<body class="bodyColor">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-lg-2">
			<!--  Navbar -->
				<div id="navbaradmin"></div>
			<!--  Navbar -->
			</div>
			<div class="col-sm-9 col-lg-10">
			<!--  Content -->



				<div class="container">
				
					<div>
						<h2 class="display-3">
							<strong>Szczegółowa lista wszystkich wniosków urlopowych</strong>
						</h2>
						<h4>Tutaj znajduje się lista wszystkich złożonych przez Ciebie wniosków urlopowych. Można przejrzeć wszystkie stare wnioski i mieć pełen podgląd zarchiwizowanych danych. 
						Wyszukiwanie po każdej dostępnej kategorii wpisów pozwala na łatwe ich sortowanie.</h4>
						<span style="font-weight: bold;" data-toggle="collapse" data-target="#legend">Legenda(klik!)</span>
						<div id="legend" class="collapse">
							<div class="row">
								<div class="col-md-1">
									<img src="/img/base/accepted.png" class="img-responsive" alt="accept"></img>
								</div>
								<div class="col-md-11">
									<span style="font-weight: bold;"> - Wniosek został zaakceptowany</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<img src="/img/base/decline.png" class="img-responsive" alt="decline"></img>
								</div>
								<div class="col-md-11">
									<span style="font-weight: bold;"> - Wniosek został odrzucony</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<img src="/img/base/wait.png" class="img-responsive" alt="wait"></img>
								</div>
								<div class="col-md-11">
									<span style="font-weight: bold;"> - Wniosek czeka na rozpatrzenie</span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<img src="/img/base/create.png" class="img-responsive" alt="time"></img>
								</div>
								<div class="col-md-11">
									<span style="font-weight: bold;"> - Wniosek został utworzony</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="panel panel-primary filterable">
							<div style="height: 50px;padding:0" class="panel-heading">
								<br></br>
								<h2 class="panel-title"> Lista wniosków</h2>
							</div>
							<table id="mytable" class="table table-striped table-hover">
								<thead>
									<tr>
										<td colspan="4">
											<div class="col-lg-12">
												<input type="search" class="form-control" id="input-search" placeholder="Szukaj wniosku"></input>
											</div>
										</td>
										<td colspan="1">
											<div class="pull-right">
												<button class="open-CreateApplicationDialog btn btn-success" data-title="Złóż wniosek" data-toggle="modal" data-target="#createApplication">Złóż wniosek</button>
											</div>
										</td>
									</tr>
									<tr>
										<td width="50"><span>ID</span></td>
										<td width="80"><span>Pracownik</span></td>
										<td width="80"><span>Kierownik</span></td>
										<td width="80"><span>Wydział</span></td>
										<td width="250"><span>Status</span></td>
									</tr>
								</thead>
								<tbody class="searchable-container" th:each="app : ${applications}">
									<tr class="items clickable" data-toggle="collapse" th:attr="data-target='.' + ${app.id}">
										<td th:attr="id='id' + ${app.id}" width="50"><span th:text="${app.id}"></span></td>
										<td th:attr="id='empname' + ${app.id}" width="50"><span th:text="${emp.getEmployeeNameSurnameById(app.appEmployeeId).getNameAndSurname()}"></span></td>
										<td th:attr="id='manageremp' + ${app.id}" width="50"><span th:text="${emp.getEmployeeNameSurnameById(app.appManagerId).getNameAndSurname()}"></span></td>
										<td th:attr="id='dept' + ${app.id}"><span th:text="${dept.getDepartmentById(emp.getEmployeeDepartmentById(app.appEmployeeId).empDepartmentId).depName}"></span></td>
										<td th:attr="id='status' + ${app.id}">
											<div th:switch="${app.appStatus}">
												<p th:case="${T(vt.app.controller.base.ApplicationVerification).ACCEPTED.name()}"><span style="font-weight: bold;color:green" th:text="${apps.getStatusName(app.appStatus)}"></span></p>
												<p th:case="${T(vt.app.controller.base.ApplicationVerification).DECLINED.name()}"><span style="font-weight: bold;color:red" th:text="${apps.getStatusName(app.appStatus)}"></span></p>
												<p th:case="${T(vt.app.controller.base.ApplicationVerification).WAIT.name()}"><span style="font-weight: bold;color:orange" th:text="${apps.getStatusName(app.appStatus)}"></span></p>
											</div> 
										</td>
									</tr>
									
									
									<tr th:attr="class='collapse ' + ${app.id}">
										<td colspan="6">
											<div class="panel-body">
												<div class="row">
													<div class="col-md-3 col-lg-3" align="center">
														
														<span style="font-weight: bold;color:black" th:text="${pos.getPositionById(emp.getEmployeePositionById(app.appEmployeeId).empPositionId).positionName}"></span>
														<span> w dziale </span>
														<span style="font-weight: bold;color:black" th:text="${dept.getDepartmentById(emp.getEmployeeDepartmentById(app.appEmployeeId).empDepartmentId).depName}"></span>
														
														<hr />
														<img id="profile-image1" class="img-circle img-responsive" alt="Avatar" 
															th:src="@{'data:image/png;charset=utf-8;base64,'+${emp.getEmployeeAvatarById(app.appEmployeeId).empAvatar}}" />
															<hr />
															<span style="font-weight: bold;color:black" th:text="${emp.getEmployeeNameSurnameById(app.appEmployeeId).getNameAndSurname()}"></span>
															
															
													</div>
													<div class="col-md-9 col-lg-9">
														<table class="table table-user-information">
															<tbody>
																<tr>
																	<td>Kierownik</td>
																	<td><span th:text="${emp.getEmployeeNameSurnameById(app.appManagerId).getNameAndSurname()}"></span></td>
																</tr>
																<tr>
																	<td>Rodzaj urlopu</td>
																	<td><span th:text="${vacType.getVacationTypeById(app.appType).vacTypeName}"></span></td>
																</tr>
																<tr>
																	<td>Od</td>
																	<td><span th:text="${app.appDateFrom}"></span></td>
																</tr>
																<tr>
																	<td>Do</td>
																	<td><span th:text="${app.appDateTo}"></span></td>
																</tr>
																<tr>
																	<td>Ilość dni</td>
																	<td><span th:text="${app.appDays}"></span></td>
																</tr>
																<tr>
																	<td>Zastępstwo</td>
																	<td>
																		<div th:switch="${app.appReplacement}">
																			<div th:case="null">
																				<span>brak</span>
																			</div>
																			<div th:case="*">
																				<span th:text="${emp.getEmployeeNameSurnameById(app.appReplacement).getNameAndSurname()}"></span>
																			</div>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
														<hr />
														<div class="row">
															<div class="col-sm-6">
																<div><span style="font-weight: bold">Komentarz pracownika</span></div>
																
																<div><span th:text="${app.appComment}"></span></div>
																<br />
															</div>
															<div class="col-sm-6">
																<div><span style="font-weight: bold">Komentarz przełożonego</span></div>
																
																<div><span th:text="${app.appManagerComment}"></span></div>
																<br />
															</div>
														</div>
														
														
													</div>
													<hr />
													<div class="col-md-12 col-lg-12">
													<div class="timeline-centered">

															<div th:switch="${app.appStatus}">
																<div th:case="${T(vt.app.controller.base.ApplicationVerification).ACCEPTED.name()}">
																	<article class="timeline-entry">
																		<div class="timeline-entry-inner">
																			<div class="timeline-icon">
																				<i class="entypo-flight"></i> 
																				<img src="/img/base/accepted.png" class="img-responsive center-block" style="margin-top: 5px;" alt="accept"></img>
																			</div>
																			<div class="timeline-label">
																				<h2>Wniosek został zaakceptowany przez przełożonego 
																					<span style="font-weight: bold;color:black" th:text="${emp.getEmployeeNameSurnameById(app.appAcceptedManager).getNameAndSurname()}"></span>
																				</h2>
																				<i class="glyphicon glyphicon-time"></i>
																				<span th:text="${app.appAcceptedDate}"></span>
																			</div>
																		</div>
																	</article>
																</div>
																<div th:case="${T(vt.app.controller.base.ApplicationVerification).DECLINED.name()}">
																	<article class="timeline-entry">
																		<div class="timeline-entry-inner">
																			<div class="timeline-icon">
																				<i class="entypo-flight"></i> 
																				<img src="/img/base/decline.png" class="img-responsive center-block" style="margin-top: 5px;" alt="accept"></img>
																			</div>
																			<div class="timeline-label">
																				<h2>Wniosek został odrzucony przez przełożonego 
																					<span style="font-weight: bold;color:black" th:text="${emp.getEmployeeNameSurnameById(app.appAcceptedManager).getNameAndSurname()}"></span>
																				</h2>
																				<i class="glyphicon glyphicon-time"></i>
																				<span th:text="${app.appAcceptedDate}"></span>
																			</div>
																		</div>
																	</article>
																</div>
															</div>
																	<article class="timeline-entry">
																		<div class="timeline-entry-inner">
																			<div class="timeline-icon">
																				<i class="entypo-flight"></i> 
																				<img src="/img/base/wait.png" class="img-responsive center-block" style="margin-top: 5px;" alt="accept"></img>
																			</div>
																			<div class="timeline-label">
																				<h2>Wniosek czeka na akceptację przez przełożonego 
																					<span style="font-weight: bold;color:black" th:text="${emp.getEmployeeNameSurnameById(app.appManagerId).getNameAndSurname()}"></span>
																				</h2>
																				<i class="glyphicon glyphicon-time"></i>
																				<span th:text="${app.appModifiedDate}"></span>
																			</div>
																		</div>
																	</article>
																	<article class="timeline-entry">
																		<div class="timeline-entry-inner">
																			<div class="timeline-icon">
																				<i class="entypo-flight"></i> 
																				<img src="/img/base/create.png" class="img-responsive center-block" style="margin-top: 5px;" alt="accept"></img>
																			</div>
																			<div class="timeline-label">
																				<h2>Wniosek został utworzony przez 
																					<span style="font-weight: bold;color:black" th:text="${emp.getEmployeeNameSurnameById(app.appEmployeeId).getNameAndSurname()}"></span>
																				</h2>
																				<i class="glyphicon glyphicon-time"></i>
																				<span th:text="${app.appCreatedDate}"></span>
																			</div>
																		</div>
																	</article>
																	<article class="timeline-entry begin">
																		<div class="timeline-entry-inner">
																			<div class="timeline-icon">
																				<i class="entypo-flight"></i> 
																				<img src="/img/base/time.png" class="img-responsive center-block" style="margin-top: 5px;" alt="accept"></img>
																			</div>
																		</div>
																	</article>
																</div>
													</div>
													
													
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>


				
				
				
				<!-- Create application modal -->
				<div class="modal fade" id="createApplication" tabindex="-1" role="dialog" aria-labelledby="createApplication" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
								<h4 class="modal-title custom_align" id="Heading">Złóż wniosek urlopowy</h4>
							</div>
							<div class="modal-body">
								<form action="#" th:action="@{/create_application_emp}" method="post">
									<div id="alertInfo" class="alert alert-danger" role="alert">
										Nie możesz wziąć dłuższego urlopu niż pozostała Ci ilość dni do wykorzystania!
									</div>
									<div class="jumbotron">
										<div class="container">
											<div class="form-group col-xs-6 text-right">
												<label><span>Imie i nazwisko</span></label>
												<label><span>Stanowisko/Dział</span></label>
												<label><span>Numer ewidencyjny</span></label>
											</div>
											<div class="form-group col-xs-6 text-left">
												<label><span style="color:blue;" th:text="${session.ownerName}"></span></label>
												<label><span style="color:blue;" th:text="${pos.getPositionById(session.ownerPosition).positionName} + '/' + ${dept.getDepartmentById(session.ownerDepartment).depName}"></span></label>
												<label><span style="color:blue;" th:text="${session.username}"></span></label>
												<input style="display:none" id="idofEmployee" class="form-control" type="text" maxlength="4" th:value="${session.employeeId}" th:field="${applicationform.appEmployeeId}"></input>
												<input style="display:none" id="idofManager" class="form-control" type="text" maxlength="4" th:value="${session.appManagerId}" th:field="${applicationform.appManagerId}"></input>
											</div>
										</div>
									</div>
									<div class="jumbotronCreateApp">
										<div class="container-fluid">
											<div class="row">
												<div class="form-group col-xs-6 text-right">
													<label><span>Rodzaj wniosku</span></label>
													<label><span>Maksymalny czas dni</span></label>
												</div> 
												<div class="form-group col-xs-6 text-right">
													<select id="allVacationTypesForEmployee" class="form-control" th:field="${applicationform.appType}" required="required">
														<option id="appType" value="0">Wybierz...</option>
														<option th:each="vacation : ${vacations.getAllVacationsByEmployeeId(session.employeeId)}"  
															th:value="${vacType.getVacationTypeById(vacation.vacType).id}" 
															th:text="${vacType.getVacationTypeById(vacation.vacType).vacTypeName}">
														</option>
													</select> 
													<input id="vacationMaxDays" disabled="disabled" class="form-control" type="text" ></input>
													
													<select style="display:none" id="allVacationTypesForEmployee_tmp" class="form-control" required="required">
														<option id="appType_tmp" value="0">Wybierz...</option>
														<option th:each="vacation : ${vacations.getAllVacationsByEmployeeId(session.employeeId)}"  
															th:value="${vacType.getVacationTypeById(vacation.vacType).vacTypeName}" 
															th:text="${vacType.getVacationTypeById(vacation.vacType).vacTypeMaxDays}">
														</option>
													</select>  
												</div> 
												
												<div class="form-group col-xs-6 text-right">
													<label><span>Planowany urlop od/do</span></label>
												</div> 
												<div class="form-group col-xs-6 text-right">
													<input id="vacationFrom" required="required" class="form-control" type="text" maxlength="10" th:value="${applicationform.appDateFrom}" th:field="${applicationform.appDateFrom}"></input>
													<input id="vacationTo" required="required" class="form-control" type="text" maxlength="10" th:value="${applicationform.appDateTo}" th:field="${applicationform.appDateTo}"></input>
												</div> 
												
												<div class="form-group col-xs-6 text-right">
													<label><span>Liczba dni urlopu</span></label>
												</div> 
												<div class="form-group col-xs-6 text-right">
													<input id="vacationDaysTotal" disabled="disabled" class="form-control" type="text" value="0"></input>
													<input style="display:none" id="vacationDaysTotalToDB" class="form-control" type="text" maxlength="4" th:value="${applicationform.appDays}" th:field="${applicationform.appDays}"></input>
												</div> 
												
												<div class="form-group col-xs-6 text-right">
													<label><span>Zastępstwo</span></label>
												</div> 
												<div class="form-group col-xs-6 text-right">
													<select id="replacementEmployees" class="form-control" th:field="${applicationform.appReplacement}">
														<option id="replaceId" value="0">Wybierz...</option>
														<option th:each="empReplace : ${emp.getAllEmployeesFromDepartmentWithoutId(session.ownerDepartment,session.employeeId)}"  
															th:value="${empReplace.id}" 
															th:text="${empReplace.getNameAndSurname()}">
														</option>
													</select> 
												</div> 
												
												<div class="form-group col-xs-12 text-center">
													<label><span>Komentarz</span></label>
													<textarea style="resize:none; min-width: 100%" class="form-control" name="commentAccept" rows="5" id="commentAccept" maxlength="255" th:value="${applicationform.appComment}" th:field="${applicationform.appComment}"></textarea>
												</div> 
												
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<input id="createApplicationButton" type="submit" class="btn btn-warning btn-lg" value="Złóż wniosek" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Create application modal -->
				
				<!--  Content -->
				</div>
			</div>
		
	</div>

	
</body>
<!--  -->
<!--  -->
<script>
	$(function() {
		$("#navbaradmin").load("/core/employee/navbar.html");
	});
</script>
<script>
	$(function() {
		$('#profile-image1').on('click', function() {
			$('#profile-image-upload').click();
		});
	});
</script>
<script>
	$(function() {
		$('#input-search').on('keyup', function() {
			var rex = new RegExp($(this).val(), 'i');
			$('.searchable-container .items').hide();
			$('.searchable-container .items').filter(function() {
				return rex.test($(this).text());
			}).show();
		});
	});
</script> 
<script>
	$(function() {
		$("#allVacationTypesForEmployee").click(function() {
			$("#allVacationTypesForEmployee_tmp").val($("#allVacationTypesForEmployee option:selected").text());
			
			var days = $("#allVacationTypesForEmployee_tmp option:selected").text();
			$("#vacationMaxDays").val(days);
		});
	});
</script> 
<script>
	$(function() {
		$("#allVacationTypesForEmployee_tmp").hide();
		$('#alertInfo').hide();
	});
</script> 
<script>
	$(document).on("click", ".open-CreateApplicationDialog", function(e) {
		e.preventDefault();
		var _self = $(this);
		
		$('#vacationFrom').datepicker({
			format: 'dd-mm-yyyy',
	    	language: 'pl'
	    }).datepicker("setDate",new Date());
		
		$('#vacationTo').datepicker({
			format: 'dd-mm-yyyy',
	    	language: 'pl'
	    }).datepicker("setDate",new Date());
		
		var freeDays = ["01-01-2018", "02-04-2018", "01-05-2018", "03-05-2018", 
		                "31-05-2018", "15-08-2018", "01-11-2018", "24-12-2018", 
		                "25-12-2018", "26-12-2018", "31-12-2018"];
		
		$("#vacationTo").change(function(e) {
			var start = new Date($("#vacationFrom").datepicker("getDate"));
		    var end = new Date($("#vacationTo").datepicker("getDate"));
		    
		    var totalBusinessDays = 0;
		    
		    start.setHours(0,0,0,0);
		    end.setHours(0,0,0,0);
		    
		    var current = new Date(start);
		    current.setDate(current.getDate() + 1);
		    var day;
		    //<![CDATA[   
		    while (current <= end) {
		        day = current.getDay();
		        if (day >= 1 && day <= 5) {
		            ++totalBusinessDays;
		        } 
		        current.setDate(current.getDate() + 1);
		    }
		    
			$.each(freeDays, function( index, value ) {
				var dateSplit = value.split('-');
				
				var day = dateSplit[0];
				var month = dateSplit[1];
				var year = dateSplit[2];
				
				var checkDate = new Date(year,month-1,day);
				
				if((checkDate <= end && checkDate >= start)) {
			    	--totalBusinessDays;
			    }
		    });
		    $("#vacationDaysTotal").val(totalBusinessDays);
		    
			var vacationMaxPossible = parseInt($("#vacationMaxDays").val(), 10);
			var vacationDays = parseInt($("#vacationDaysTotal").val(), 10);
			if(vacationDays <= vacationMaxPossible) {
		    	$('#createApplicationButton').attr("disabled", false);
		    	$('#alertInfo').hide();
		    } else {
		    	$('#createApplicationButton').attr("disabled", true);
		    	$('#alertInfo').show();
		    }
			if(vacationMaxPossible == -1) {
		    	$('#createApplicationButton').attr("disabled", false);
		    	$('#alertInfo').hide();
		    }
			//]]>
		    
			$('#vacationDaysTotalToDB').val($("#vacationDaysTotal").val());
		});
		
		$(_self.attr('href')).modal('show');
	});
</script>
<script>
!function(a){
	a.fn.datepicker.dates.pl={
			days:["Niedziela","Poniedziałek","Wtorek","Środa","Czwartek","Piątek","Sobota"],
			daysShort:["Niedz.","Pon.","Wt.","Śr.","Czw.","Piąt.","Sob."],
			daysMin:["Ndz.","Pn.","Wt.","Śr.","Czw.","Pt.","Sob."],
			months:["Styczeń","Luty","Marzec","Kwiecień","Maj","Czerwiec","Lipiec","Sierpień","Wrzesień","Październik","Listopad","Grudzień"],
			monthsShort:["Sty.","Lut.","Mar.","Kwi.","Maj","Cze.","Lip.","Sie.","Wrz.","Paź.","Lis.","Gru."],
			today:"Dzisiaj",
			weekStart:1,clear:"Wyczyść",
			format:"dd-mm-yyyy"}}(jQuery);
</script>
<!--  -->
<!--  -->
</html>