<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<!--  -->
<!--  -->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<title>System Zarządzający Wnioskami Urlopowymi - Kierownik</title>
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/vacationtool.css"></link>
</head>
<!--  -->
<!--  -->
<body class="bodyColor">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-lg-2">
			<!--  Navbar -->
				<div id="navbaradmin"></div>
			<!--  Navbar -->
			</div>
			<div class="col-sm-9 col-lg-10">
			<!--  Content -->



				<div class="container">
					<div class="col-md-11">

						<div class="panel panel-default">
							<div class="panel-heading">
								<h3>Profil Użytkownika Systemu</h3>
							</div>
							<div class="panel-body">

								<div class="box box-info">

									<div class="box-body">
										<div class="col-sm-6">
											<div align="center">


												<div>
													<img id="profile-image1" class="img-circle img-responsive" alt="Avatar" 
														th:src="@{'data:image/png;charset=utf-8;base64,'+${employee.empAvatar}}" />
												</div>
												<div style="color: #999;">Wymagania zdjęcia: 150x150 PNG</div>
												<form id="uploadImage" method="POST" action="#" th:action="@{/mupload}" enctype="multipart/form-data">
													<input style="display:none" id="empId" class="form-control" type="text" maxlength="4" th:value="${emp.id}" th:field="${emp.id}"></input>
													<input id="profile-image-upload" class="hidden" type="file" name="file"></input>
													<input id="submitImage" type="submit" value="Wybrałeś zdjęcie? To je ustaw!" class="btn btn-success" /> 
												</form>	

											</div>

											<br></br>

											<!-- /input-group -->
										</div>
										<div class="col-sm-6">
											<h4 style="color: #008000;" th:text="${employee.empFirstName} + ' ' + ${employee.empLastName}"></h4>
											<span><p style="color: #d50000;" th:text="'Kierownik - ' + ${position.positionName}"></p></span>
											<button type="button" class="open-ChangePasswordDialog btn btn-default btn-xs" data-title="Zmień hasło" data-toggle="modal" data-target="#changePassword">
												<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Zmień hasło
											</button>
										</div>

										<div class="clearfix"></div>
										<div><h4>Dane personalne</h4></div>
										<hr style="margin: 5px 0 5px 0;"></hr>
										
										<div th:attr="id='employeeId'" style="display:none" class="col-sm-7 col-xs-6 "><span th:text="${employee.id}"></span></div>
										<div class="col-sm-5 col-xs-6 tital ">Imie:</div>
										<div class="col-sm-7 col-xs-6 "><span th:text="${employee.empFirstName}"></span></div>
										<div class="clearfix"></div>
										<div class="bot-border"></div>

										<div class="col-sm-5 col-xs-6 tital ">Nazwisko:</div>
										<div class="col-sm-7"><span th:text="${employee.empLastName}"></span></div>
										<div class="clearfix"></div>
										<div class="bot-border"></div>

										<div class="col-sm-5 col-xs-6 tital ">Data urodzenia:</div>
										<div class="col-sm-7"><span th:text="${employee.empBirthDate}"></span></div>
										<div class="clearfix"></div>
										<div class="bot-border"></div>
										
										<div><h4>Dane pracownika</h4></div>
										<hr style="margin: 5px 0 5px 0;"></hr>
										
										<div class="col-sm-5 col-xs-6 tital ">Numer ewidencyjny:</div>
										<div class="col-sm-7"><span th:text="${employee.empEvidenceNumber}"></span></div>

										<div class="clearfix"></div>
										<div class="bot-border"></div>

										<div class="col-sm-5 col-xs-6 tital ">Wydział:</div>
										<div class="col-sm-7"><span th:text="${department.depName}"></span></div>

										<div class="clearfix"></div>
										<div class="bot-border"></div>
										
										<div class="col-sm-5 col-xs-6 tital ">Kierownik:</div>
										<div class="col-sm-7"><span th:text="${manager}"></span></div>

										<div class="clearfix"></div>
										<div class="bot-border"></div>

										<div class="col-sm-5 col-xs-6 tital ">Zatrudniony:</div>
										<div class="col-sm-7"><span th:text="${employee.empFirstWorkDay}"></span></div>

										<div class="clearfix"></div>
										<div class="bot-border"></div>

										<div class="col-sm-5 col-xs-6 tital ">Wymiar pracy:</div>
										<div class="col-sm-7"><span th:text="${areaOfWork}"></span></div>
										
										<div class="clearfix"></div>
										<div class="bot-border"></div>

										<div class="col-sm-5 col-xs-6 tital ">Godzin tygodniowo:</div>
										<div class="col-sm-7"><span th:text="${employee.empWorkingHoursPerDay}"></span></div>
										
										
										
										


										<!-- /.box-body -->
									</div>
									<!-- /.box -->

								</div>


							</div>
						</div>
					</div>
				</div>

				<!-- Change password modal -->
				<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</button>
								<h4 class="modal-title custom_align" id="Heading">Zmień swoje hasło</h4>
							</div>
							<div class="modal-body">
								<form action="#" th:action="@{/changepasswordManager}" method="post">
									<div class="row">
										<div class="form-group col-xs-6">
											<label style="width:50%">Nowe hasło: </label>
											<input id="password_1" class="form-control" type="password" th:field="${pwdForm.empFirstName}"></input>
										</div>
										<div class="form-group col-xs-6">
											<label style="width:50%">Powtórz hasło: </label>
											<input id="password_2" class="form-control" type="password" th:field="${pwdForm.empLastName}"></input>
										</div>
									</div>
									<div class="modal-footer">
										<input type="submit" class="btn btn-warning btn-lg" value="Zmień hasło" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /Change password modal -->










				
				<!--  Content -->
			</div>
		</div>
		
	</div>

	
</body>
<!--  -->
<!--  -->
<script>
	$(function() {
		$("#navbaradmin").load("/core/manager/navbar.html");
	});
</script>
<script>
	$(function() {
		$("footer").load("/core/footer.html");
	});
</script>
<script>
	$(function() {
		$('#submitImage').prop('disabled', true);
		$('#profile-image1').on('click', function() {
			$('#profile-image-upload').click();
			$('#submitImage').prop('disabled', false);
			
			var empID = $('#employeeId').text();
			$("#empId").val(empID);
		});
	});
</script> 
<script>
	$(document).on("click", ".open-ChangePasswordDialog", function(e) {
		e.preventDefault();
		var _self = $(this);

		$(_self.attr('href')).modal('show');
	});
</script>
<!--  -->
<!--  -->
</html>